:root {
  font-family: 'Poppins', sans-serif;
  --color-main: #fff;
  --color-accent: #ff8d228a;
  --container-height__desktop: 96.5vh;
  --slash-height: 2.5rem;
}

[flex] {
  display: flex;
}

[grid] {
  display: grid;
}

[hidden] {
  display: none;
  overflow: hidden;
  pointer-events: none;
}

/* +++ Глобальные стили и обнуления +++ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

html {
  width: 100vw;
  max-height: fit-content;
  overflow-x: hidden;
  overflow: hidden;
  height: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

ol,
ul {
  list-style-type: none;
}

h2,
h3,
p {
  color: var(--color-main);
}

.main {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

.main .section:not(:last-child) {
  margin-bottom: var(--slash-height);
}

.container {
  min-width: 100%;
  min-height: 100%;
}

.section:not(.hero__section) .container {
  height: var(--container-height__desktop);
}

.text {
  color: var(--color-main);
}

/* +++ HERO +++ */

.hero__advantage-image {
  width: 5%;
}

.hero__container {
  position: relative;
  overflow: hidden;
}

#hero__block1 {
  flex-direction: column;
  min-height: var(--container-height__desktop);
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./assets/images/sect1-1.jpg);
}

#hero__block2 {
  display: block;
  height: var(--container-height__desktop);
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./assets/images/sect1-2.jpg);
}

.hero__image2 {
  width: auto;
  height: 100%;
  /* object-fit: cover; */
}

.hero__title1 {
  padding-top: 12rem; /* 192px */
  text-align: center;
  font-size: 8rem; /* 128px */
  margin: 0;
}

.hero__subtitle {
  text-align: center;
  font-size: 2rem; /* 32px */
  letter-spacing: 0.1rem; /* 1.6px */
  padding-bottom: 10rem; /* 160px */
}

.hero__advantages {
  justify-content: space-around;
  padding: 5rem 0;
}

.hero__advantage {
  position: relative;
  max-width: 14.375rem; /* 230px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero__advantage:hover {
  transform: scale(1.2);
  transform-origin: center center;
}

.hero__advantage-image {
  width: 70%;
  height: 70%;
}

.hero__advantage-text {
  font-weight: 400;
  text-align: center;
  align-items: baseline;
  margin-top: auto;
  font-size: 1.2rem; /* 19.2px */
  text-wrap: balance;
}

.hero__slash {
  margin: var(--slash-height);
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
}

.hero__cube {
  opacity: 0.3;
  display: block;
  position: absolute;
  pointer-events: none;
  top: 10vh;
  right: 0;
  margin-right: -105px;
  margin-left: auto;
  width: 50vh;
  height: 50vh;
  background: url(./assets/images/cube2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 10000;
  transition: none !important;
  transform: translateY(0);
  will-change: transform;
}
/* --- HERO --- */

/* +++ PARAMETERS +++ */
.parameters__container {
  background-size: cover;
  background-position: top right;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./assets/images/sect2.jpg);
}

.parameters__img {
  max-width: 44px;
}

.parameters__item {
}

/* +++ MATERIAL +++ */
.material__container {
  display: flex;
  background-size: cover;
  background-position: center, right;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./assets/images/sect3.jpg);
}

.material__img {
  margin: 0 auto;
  height: 100%;
  position: 50%, 70%;
  object-fit: contain;
}
/* --- MATERIAL --- */

/* +++ DISTANCE +++ */
.distance__container {
  width: 100%;
}

.distance__container > .distance__block:nth-child(1) {
  width: auto;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./assets/images/sect4-1.jpg);
}

.distance__container > .distance__block:nth-child(2) {
  min-width: 70%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./assets/images/sect4-2.jpg);
}

.distance__block {
}

.distance__title3 {
}
/* +++ DISTANCE +++ */
/* +++ MONTAGE +++ */
.montage__section {
}

.montage__container {
}

.montage__title2 {
  width: 100%;
  text-align: center;
  padding: 2rem 2rem 4rem;
  position: absolute;
  font-size: 10rem;
  left: 50%;
  transform: translateX(-50%);

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.montage__title--3 {
  position: relative;
  text-align: center;
}

.montage--desktop,
.montage--mobile {
  height: 100%;
}

.montage__img {
  height: 100%;
}

.montage__list {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 5px;
}

/* .montage__list::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  pointer-events: none;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
} */

.montage__item {
  background-image: url(./assets/images/sect-montage.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
}

.montage__item p {
  text-align: center;
}
.montage--mobile .montage__list {
  flex-direction: column;
  align-items: center;
}

.montage__list > .montage__item:nth-child(1) {
  background-position: left center;
}

.montage__list > .montage__item:nth-child(2) {
  background-position: center center;
}

.montage__list > .montage__item:nth-child(3) {
  background-position: right center;
}

.montage__title--3 {
  font-size: 3rem;
}
.montage--mobile {
}
/* --- MONTAGE --- */

/* --- DELIVERY --- */
.delivery__section {
}
.delivery__container {
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./assets/images/sect6.jpg);
}
.delivery__title {
}
/* --- DELIVERY --- */

/* --- LOADER --- */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(194, 194, 194) 25%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 1.375rem solid rgba(255, 255, 255, 0.2); /* 22px */
  border-top: 1.375rem solid #ffffff87;
  border-radius: 50%;
  width: 10.375rem; /* 166px */
  height: 10.375rem; /* 166px */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1600px) {
}
