:root {
  font-family: 'Roboto', sans-serif;
  --color-main: #fff;
  --color-secondary: #f0f0f0;
  --color-accent: #ff5722;
  --color-text: #333;
}

/* +++ Глобальные стили и обнуления +++ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

html {
  width: 100%;
  height: 100%;
  background: var(--color-main);
}

body {
  min-height: 100vh;
  height: 100%;
}

[flex] {
  display: flex;
}
ol,
ul {
  list-style-type: none;
}
/* Так как ссылок в вёрстке нет, можно убрать стили для ссылок */
/* a {
  text-decoration: none;
  color: inherit;
} */

.section {
  display: block;
  padding-bottom: 30px;
}

.container {
}
/* --- Глобальные стили и обнуления --- */

/* +++ HERO +++ */
.hero__advantage-image {
  width: 5%;
  height: auto;
}
.hero__section {
}
.hero__container {
}
.hero__title1 {
}
.hero__subtitle {
}
.hero__advantages {
}
.hero__advantage {
}
.hero__advantage-image {
}
.hero__advantage-text {
}
/* --- HERO --- */

/* +++ BANNER +++ */
.banner__section {
}
.banner__container {
}
/* --- BANNER --- */

/* +++ PARAMETERS +++ */
.parameters__section {
}
.parameters__container {
}
.parameters__list {
}
.parameters__item {
}
.parameters__img {
}
/* --- PARAMETERS --- */

/* +++ MATERIAL +++ */
.material__section {
}
.material__container {
}
/* --- MATERIAL --- */

/* +++ DISTANCE +++ */
.distance__section {
}
.distance__container {
}
.distance__block {
}
.distance__title3 {
}
/* --- DISTANCE --- */

/* +++ MONTAGE +++ */
.montage__section {
}
.montage {
}
.montage__title2 {
}
.montage--desktop {
}
.montage__block {
}
.montage__list {
}
.montage__item {
}
.montage__title--3 {
}
.montage--mobile {
}
/* --- MONTAGE --- */

/* +++ DELIVERY +++ */
.delivery__section {
}
.delivery__container {
}
.delivery__title {
}
/* --- DELIVERY --- */
