:root {
  font-family: 'Roboto', sans-serif;
  --color-main: #fff;
  --color-text: #f0f0f0;
  --color-accent: #ff8d228a;
  --color-secondary: #333;
}

[flex] {
  display: flex;
}

[grid] {
  display: grid;
}

[hidden] {
  display: none;
  overflow: hidden;
  pointer-events: none;
}
/* +++ Глобальные стили и обнуления +++ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

html {
  width: 100vw;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

ol,
ul {
  list-style-type: none;
}

h2,
h3 {
  color: var(--color-main);
}
/* Так как ссылок в вёрстке нет, можно убрать стили для ссылок */
/* a {
  text-decoration: none;
  color: inherit;
} */

.section {
  min-width: 100vw;
  min-height: 100vh;
  display: block;
  padding-bottom: 30px;
}

.container {
  width: 100%;
  height: 100%;
}
/* --- Глобальные стили и обнуления --- */

/* +++ HERO +++ */
.hero__advantage-image {
  width: 5%;
}

.hero__container {
}

.hero__container > .hero__block:nth-child(1) {
  min-height: 90vh;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./assets/images/sect1-1.jpg);
}

.hero__container > .hero__block:nth-child(2) {
  min-height: 100vh;

  background-image: url(./assets/images/sect1-2.jpg);
  background-size: cover;
  background-position: center;
}

.hero__container {
}
.hero__title1 {
  text-align: center;
  font-size: 7rem;
  margin: 0;
}
.hero__subtitle {
  text-align: center;
}
.hero__advantages {
}
.hero__advantage {
}
.hero__advantage-image {
}
.hero__advantage-text {
}
/* --- HERO --- */

/* +++ BANNER +++ */
.banner__section {
}
.banner__container {
}
/* --- BANNER --- */

/* +++ PARAMETERS +++ */
.parameters__section {
}
.parameters__container {
}
.parameters__list {
}
.parameters__item {
}
.parameters__img {
}
/* --- PARAMETERS --- */

/* +++ MATERIAL +++ */
.material__section {
}
.material__container {
}
.material__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* --- MATERIAL --- */

/* +++ DISTANCE +++ */
.distance__section {
}
.distance__container {
}
.distance__block {
}
.distance__title3 {
}
/* --- DISTANCE --- */

/* +++ MONTAGE +++ */
.montage__section {
}
.montage {
}
.montage__title2 {
}
.montage--desktop {
}
.montage__block {
}
.montage__list {
}
.montage__item {
}
.montage__title--3 {
}
.montage--mobile {
}
/* --- MONTAGE --- */

/* +++ DELIVERY +++ */
.delivery__section {
}
.delivery__container {
}
.delivery__title {
}
/* --- DELIVERY --- */
